cmake.bld
compile_commands.json
/.build/
/.cache/
*.pyg
/.vscode/
**/generated/
**/.venv/
**/_minted-*/
**/*.aux
**/*.bbl
**/*.blg
**/*.dvi
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.out
**/*.pdf
**/*.toc
**/*.idx
**/*.xtr
**/.deps/
**/_minted-view-maybe.work/
**/.venv.work/
**/_minted-optional_ref/
**/_minted-optional_ref_wording/
.update-submodules
/.install/
/.venv/
.deps/
